* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
}
main {
	display: inline-block;
	margin: 0 auto;
}
.row {
	background-color: blue;
	display: flex;
}
.tile {
	width: 4.375vw;
	height: 4.375vw;
	outline: 1px solid white;
	background-image: url(Images/tiles/brownBush.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
/*--Disable when screen too small--*/
@media screen and (max-width: 700px) {
    main {
        display: none;
    }
    body::after {
    	content: 'Votre écran/fenetre est trop petit pour afficher ce jeu !'
    }
}